body {
  background-image: url('assets/snowflakes-1.png');
  background-repeat: none;
  background-size:cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0 0 0 0;

}

.inset {
  position: relative;
  border-radius: 8px;
  max-width: 800px;
  height: 50vh;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
}

.toolbar {
  position: relative;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  background-color: white;
  margin-bottom: 5vh;
  margin-top: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: white;
  overflow: hidden;
}

.inset-pane {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  opacity: 0.3;
}

.left-pane {
  left: 0;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.right-pane {
  right: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.left-pane:hover {
  background-color: black
}

.right-pane:hover {
  background-color: black
}

img {
  height: 100%;
  width: auto;
}

.toolitem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  opacity: 0.7;
}

.fa {
  font-size: 40px;
}

.toolitem p {
  margin: 5px 0 0 0;
  text-align: center;
}

.toolitem:hover .fa, .toolitem:hover p {
  opacity: 0.3;
}

.modal-overlay {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.8;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal {
  position: absolute;
  background-color: white;
  width: 70vw;
  top: 15vh;
  border-radius: 8px;
  opacity: 1;
  z-index: 3;
  max-width: 700px;
}

.modal .modal-header {
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: gainsboro;
  display: flex;
  justify-content: space-between;
}

.modal h1 {
  margin: 21px;
}

.close {
  display: inline-block;
  width: auto;
  margin: 10px;
  color: gainsboro;
  float: right;
  font-size: 28px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.modal .content {
  width: calc(100%-10px);
  padding: 5px;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 600;
}

.chat-modal .content {
  height: 50vh;
  overflow-y: scroll;
}

.input-feild {
  border-width: 2px 0 0 0;
  border-style: solid;
  border-color: gainsboro;
  height: 10vh;
}

.need-name {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.set-username {
  height: 100%;
}

#signin {
  height: 40%;
  width: 10%;
  display: inline-block;
  border-radius: 8px;
  background-color: gainsboro;
  font-size: 14px;
  font-weight: 600;
  min-width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

#username {
  height: 25%;
  width: 50%;
  max-width: 280px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  height: auto;
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 5px;
}

.message .message-sender {
  height: 100%;
  width: 10vw;
  max-width: 100px;
  padding: 10px;
}

.new-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.new-message #message-text {
  height: 70%;
  margin: 10px;
  width: 70%;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
}

.new-message #message-send {
  height: 70%;
  margin: 10px;
  border-radius: 8px;
  background-color: gainsboro;
  font-size: 14px;
  font-weight: 600;
  min-width: 80px;
  margin-left: 10px;
  margin-right: 10px;
}

.info-modal .content {
  padding: 20px;
}

.modal-overlay {
  display: none;
}

.chat-modal {
  display: none;
}

.info-modal {
  display: none;
}

.new-message {
  display: none;
}
